*{
  box-sizing: border-box;
}

:focus-visible{
  outline: none;
}

body{
  font-family: 'Mont', sans-serif;
  font-weight: 400;

  &.is-hidden{
    overflow: hidden;
  }
}
.fslightbox-container{
  background: rgba(0, 0, 0, 0.5) !important;
}

.page{
  overflow: hidden;

  @media screen and (max-width:1199px){
    &::after{
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
      transition: opacity .2s ease, visibility .2s ease;
      opacity: 0;
      visibility: hidden;
    }
  
    &.is-bg::after{
      opacity: 1;
      visibility: visible;
    }
  }
}

.container{
  width: 100%;
  max-width: 1840px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  // @media screen and (max-width:1570px){
  //   max-width: 1240px;
  // }

  @media screen and (max-width:1199px){
    padding-left: 10px;
    padding-right: 10px;
  }
}

img{
  display: block;
  width: 100%;
}

ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.front-block{
  margin-top: 80px;

  @media screen and (max-width:767px){
    margin-top: 60px;
  }

  &_small{
    margin-top: 30px;
  }

  &__head{
    margin-bottom: 30px;
  }

  &__title{
    font-size: 50px;
    line-height: calc(60/50);
    font-weight: 800;
    color: #510017;
    text-align: center;

    @media screen and (max-width:1199px){
      font-size: 38px;
    }

    @media screen and (max-width:495px){
      font-size: 24px;
      margin-bottom: 4px;
    }
  }

  &__subtitle{
    font-size: 35px;
    font-weight: 600;
    color: #510017;
    text-align: center;

    @media screen and (max-width:1199px){
      font-size: 30px;
    }

    @media screen and (max-width:495px){
      font-size: 16px;
    }
  }
}

.button{
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: .3s opacity;
  will-change: opacity;

  @media screen and (max-width:1570px){
    font-size: 16px;
  }

  &_brown{
    background-color: #510017;

    &:hover {
      opacity: .7;
    }
  }

  &_orange{
    background: #F58220;
  }
}

.swiper-button-disabled{
  opacity: 0.5;
}

.page-title {
  &_inner {
    margin-top: .5em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: var(--color-title);

    @media screen and (max-width:1199px){
      font-size: 38px;
      margin-bottom: 20px;
    }

    @media screen and (max-width:495px){
      font-size: 24px;
      margin-top: 30px;
    }

    h1, h2, h3, h4, h5 {
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }

  &_md{
    margin-bottom: 38px;
  }
  
  &_left {
    text-align: left;
  }

  &_mt-big {
    margin-top: 142px;
  }

  &_mb-25 {
    margin-bottom: 25px;
  }

  &_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    color: var(--color-title);
    margin-top: 25px;
    margin-bottom: 45px;

    @media screen and (max-width:1440px){
      font-size: 38px;
    }

    @media screen and (max-width:767px){
      font-size: 16px;
      line-height: calc(20/16);
      margin-top: 18px;
      margin-bottom: 15px;
    }

    h1{
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }

  &__logo{

    @media screen and (max-width:767px){
      display: none;
    }
  }

  &_mb-0 {
    margin-bottom: 0;

    @media screen and (max-width: 1199px) {
      margin-bottom: 0;
    }
  }
}

.fancybox__container {
  --fancybox-bg: rgba(24, 24, 27, 0.22);
}

.fancybox__content>.f-button.is-close-btn {
  --f-button-color: #000000;
  --f-button-hover-color: #999999;
}

.modal-cart-confirmation {
  width: 100%;
  max-width: 560px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.3;

  &__text a {
    color: var(--color-accent);
  }

  &__buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    justify-content: center;

    a, div {
      background-color: #f58220;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      border-radius: 8px;
      width: calc(50% - 8px);
      text-decoration: none;
      padding: 8px 12px;
      font-weight: 500;
      transition: opacity .3s;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }

    div {
      background-color: #56b347;
    }
  }
}