.footer{
    margin-top: 186px;
    &__grid{
        display: flex;
        padding-bottom: 47px;
        border-bottom: 1px solid #F58220;
    }

    &__left{
        width: 100%;
        max-width: 283px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    &__logo{
        img{
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__wrap{
        display: grid;
        grid-template-columns: repeat(7, auto) 283px;
    }

    &__contact{
        grid-column: 8/9;
    }

    &__reviews{
        grid-row: 2/3;
        grid-column: 1/4;
        max-width: 284px;
    }

    &__callback{
        border: 0;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: 12px;
    }
}

.footerMenu{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-self: flex-start;
    gap: 0 36px;

    &__item{
        color: #510017;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 18px;

        transition: color .2s ease;

        &:hover{
            color: #f58220;
        }

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}


.footerCategory{
    grid-column: 4/8;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-self: flex-start;
    gap: 0 36px;
    margin: 0 59px;

    &__item{
        color: #510017;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;

        transition: color .2s ease;

        &:hover{
            color: #f58220;
        }

        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

.footerBottom{
    padding-top: 47px;
    padding-bottom: 76px;
    display: flex;
    
    &__doc{
        display: flex;
        margin: 0 -22px;
        
        li{
            color: #510017;
            font-size: 16px;
            font-weight: 600;
            margin: 0 22px;
            a{
                text-decoration: none;
                color: inherit;
            }
        } 
    }

    span{
        margin-left: auto;
        font-size: 16px;
        color: #510017;
        font-weight: 600;
    }
}