.footer{
    margin-top: 80px;

    @media screen and (max-width:1199px){
       margin-top: 60px;
    }

    &__grid{
        display: flex;
        padding-bottom: 47px;
        border-bottom: 1px solid #F58220;

        @media screen and (max-width:999px){
            flex-wrap: wrap;
        }

        @media screen and (max-width:767px){
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__left{
        width: 100%;
        max-width: 283px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:1800px){
            max-width: 220px;
        }

        @media screen and (max-width:1570px){
            max-width: 186px;
            margin-right: 60px;
        }

        @media screen and (max-width:1199px){
            margin-right: 25px;
        }

        @media screen and (max-width:999px){
            max-width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__logo{
        @media screen and (max-width:495px){
            max-width: 50px;
        }
        img{
            width: auto;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width:495px){
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    &__wrap{
        display: grid;
        grid-template-columns: repeat(7, auto) 283px;
        width: 100%;

        @media screen and (max-width:767px){
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__contact{
        grid-column: 8/9;

        @media screen and (max-width:767px){
            width: 100%;
            border-top: 0.5px solid rgba(0,0,0,.25);
            border-bottom: 0.5px solid rgba(0,0,0,.25)
        }

        .menuContacts{

            &__item{
                a,span{
                    color: #510017;
                }

                a:hover{
                    color: #f58220;  
                }
            }

            @media screen and (max-width:767px){
                margin-top: 5px;
                margin-bottom: 15px;
                display: none;
            }
        }
    }

    &__reviews{
        grid-row: 2/3;
        grid-column: 1/4;
        max-width: 150px;

        iframe{
            width: 100%;
            display: block;
            max-height: 50px;
        }

        @media screen and (max-width:1570px){
            margin-top: 40px;
        }

        @media screen and (max-width:767px){
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }

    &__callback{
        border: 0;
        cursor: pointer;
        margin-top: auto;

        @media screen and (max-width:999px){
            max-width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
            margin-bottom: 0;
            max-width: 223px;
        }

        @media screen and (max-width:495px){
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: 400;
        }
    }

    &__control{
        display: none;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;

        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            transform-origin: center center;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACuSURBVHgBvZSNDYIwFAYvcQFGeCMwApvACG7QbqAbwCbqBIzACI6gNWnDS1G0pXLJl5SW9vqXwg4cSMO4XH35xh9oXR4qhsLUavBRlVsKIS53P+jg66wSNWxEXCbmFVSqbfD1rwnUZCJKMEWCwEW1C4lUkUBW/hvJFKV0FL6veEFP+l4Ln89ugSH/1gjzLex/EXTkUSvRaU1g2UbHm1ehKSgIHIlehcZ/nCmLDZInExJHDvkjs/IAAAAASUVORK5CYII=');
            width: 13px;
            height: 8px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: transform .2s ease;
        }

        &.is-active{

            & ~ ul{
                display: block;
            }

            &::after{
                transform: translateY(-50%) rotate(0deg);
            }
        }

        @media screen and (max-width:767px){
            display: block;
        }
    }
}

.footerMenu{

    @media screen and (max-width:767px){
        width: 100%;
        border-top: 0.5px solid rgba(0,0,0,.25)
    }

    &__list{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-self: flex-start;
        gap: 0 36px;

        @media screen and (max-width:1570px){
            grid-template-columns: repeat(1, auto);
        }

        @media screen and (max-width:767px){
            margin-top: 5px;
            margin-bottom: 15px;
            display: none;
        }
    }

    &__item{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 18px;

        @media screen and (max-width:767px){
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        a{
            text-decoration: none;
            color: #510017;
            transition: color .2s ease;

            &:hover{
                color: #f58220;
            }
        }
    }
}


.footerCategory{

    @media screen and (max-width:767px){
        width: 100%;
        order: -1;
        border-top: 0.5px solid rgba(0,0,0,.25)
    }

    &__list{
        grid-column: 4/8;
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-self: flex-start;
        gap: 0 36px;
        margin: 0 59px;

        @media screen and (max-width:1800px){
            margin: 0 30px;
        }

        @media screen and (max-width:1570px){
            grid-template-columns: repeat(1, auto);
        }

        @media screen and (max-width:767px){
            margin-left: 0;
            margin-right: 0;
            margin-top: 5px;
            margin-bottom: 15px;
            display: none;
        }
    }

    &__item{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;

        @media screen and (max-width:767px){
            font-size: 14px;
            margin-bottom: 10px;
        }

        a{
            text-decoration: none;
            color: #510017;
            transition: color .2s ease;

            &:hover{
                color: #f58220;
            }
        }
    }
}

.footerBottom{
    padding-top: 47px;
    padding-bottom: 76px;
    display: flex;

    @media screen and (max-width:999px){
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__doc{
        display: flex;
        margin: 0 -22px;

        @media screen and (max-width:999px){
            display: block;
            margin: 0;
        }
        
        li{
            color: #510017;
            font-size: 16px;
            font-weight: 600;
            margin: 0 22px;

            transition: color .2s ease;

            &:hover{
                color: #F58220;
            }

            @media screen and (max-width:999px){
                display: block;
                margin: 0;
                margin-bottom: 16px;
            }

            a{
                text-decoration: none;
                color: inherit;
            }
        } 
    }

    span{
        margin-left: auto;
        font-size: 16px;
        color: #510017;
        font-weight: 600;
    }
}