.brands-page{
    margin-top: 29px;
    
    &__head{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 89px;
        border-radius: 19px;
        border: 1px solid rgba(0, 0, 0, 0.27);
        padding-top: 45px;
        padding-bottom: 60px;

        @media screen and (max-width:1570px){
            grid-template-columns: repeat(4, 1fr);
            row-gap: 30px;
        }

        @media screen and (max-width:1199px){
            grid-template-columns: repeat(5,1fr);
            grid-gap: 20px;
            border: 0;
            padding: 0;
        }

        @media screen and (max-width:767px){
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: .4;
        transition: opacity .2s;
        padding: 0 15px;
        cursor: pointer;

        @media screen and (max-width:1199px){
            justify-content: flex-start;
            opacity: 1;
            padding: 0;
        }

        &_bannye_shtuchki{
            .brands-page__item-text::after{
                background-color: #00652E;
            }
        }

        &_pechnye_shtuchki{
            .brands-page__item-text::after{
                background-color: #C92434;
            }
        }

        &_blumenhaus{
            .brands-page__item-text::after{
                background-color: #3DAE2B;
            }
        }

        &_help{
            .brands-page__item-text::after{
                background-color: #862C91;
            }
        }

        &_qwerty{
            .brands-page__item-text::after{
                background-color: #EC2227;
            }
        }

        &_aroma_republic{
            .brands-page__item-text::after{
                background-color: #1FA44A;
            }
        }

        &_vegas{
            .brands-page__item-text::after{
                background-color: #ED1C24;
            }
        }

        &_hot_pot{
            .brands-page__item-text::after{
                background-color: #8DC63F;
            }
        }

        &_marmiton{
            .brands-page__item-text::after{
                background-color: #592E2C;
            }
        }

        &_vortex{
            .brands-page__item-text::after{
                background-color: #892432;
            }
        }

        &_boyscout{
            .brands-page__item-text::after{
                background-color: #3E543C;
            }
        }

        &-logo{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width:1199px){
                height: 90px;
                border: 1px solid rgba(0,0,0,.25);
                padding: 16px;
                width: 100%;
                border-radius: 10px;
            }

            @media screen and (max-width:495px){
                height: 46px;
                padding: 6px;
            }

            img{
                max-width: 200px;

                @media screen and (max-width:1199px){
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                }
            }
        }

        &-text{
            margin-top: 32px;
            position: relative;
            text-align: center;
            width: 100%;
            max-width: 200px;

            @media screen and (max-width:1199px){
                margin-top: 12px;
            }

            @media screen and (max-width:495px){
                font-size: 12px;
                margin-top: 3px;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: calc(100% + 6px);
                height: 7px;
                left: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;

                @media screen and (max-width:1199px){
                    content: none;
                }
            }
        }

        &.is-active{
            opacity: 1;
            .brands-page__item-text::after{
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover{
            opacity: 1;

            .brands-page__item-text::after{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__bg{
        @media screen and (max-width:1199px){
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 6;
            opacity: 0;
            visibility: hidden;
            transition: opacity .2s ease, visibility .2s ease;

            &.is-open{
                opacity: 1;
                visibility: visible;
            }
        }

        @media screen and (min-width:1200px){
            display: none;
        }
    }
}

.brands-content{

    @media screen and (max-width:1199px){
        position: fixed;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        background-color: #fff;
        max-width: calc(100% - 150px);
        max-height: calc(100% - 150px);
        border-radius: 20px;
        margin: auto;
        padding: 20px;
        z-index: 7;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        transition: opacity .2s ease, visibility .2s ease;

        &.is-open{
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (max-width:900px){
        max-width: calc(100% - 60px);
        max-height: calc(100% - 60px);
    }

    @media screen and (max-width:500px){
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 17px;
        max-width: calc(100% - 10px);
        max-height: calc(100% - 10px);
    }

    &__block{
        display: none;

        &.is-active{
            display: block;
            animation-name: show;
            animation-duration: .5s;
            animation-timing-function: ease;
        }
    }

    &__inner{
        display: flex;
        padding-left: 87px;
        padding-right: 87px;
        margin-top: 91px;

        @media screen and (max-width:1650px){
            padding-left: 0;
            padding-right: 0;
        }

        @media screen and (max-width:1570px){
            margin-top: 40px;
        }

        @media screen and (max-width:1199px){
            margin-top: 0;
        }
    }

    &__head{
        display: flex;
        margin-bottom: 88px;

        @media screen and (max-width:1199px){
            margin-bottom: 40px;
            align-items: center;
            flex-wrap: wrap;
        }

        @media screen and (max-width:767px){
            margin-bottom: 25px;
        }
    }

    &__title{
        font-weight: 400;
        font-size: 18px;

        @media screen and (min-width:1200px){
            display: none;
        }

        @media screen and (max-width:495px){
            margin-left: 30px;
            font-size: 12px;
            max-width: 100px;
        }
    }

    &__logo{
        max-width: 300px;

        @media screen and (max-width:1199px){
            max-width: 200px;
            margin-right: 40px;
        }

        @media screen and (max-width:767px){
            max-width: 140px;
        }

        @media screen and (max-width:495px){
            max-width: 115px;
            margin-right: 0;
        }
    }

    &__controls{
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;

        @media screen and (max-width:1199px){
            width: 100%;
            flex: auto;
            justify-content: flex-start;
            margin-top: 20px;
        }
    }

    &__text{
        column-count: 2;
        column-gap: 95px;
        font-size: 18px;
        color: #000;
        font-weight: 600;
        line-height: calc(22/18);

        @media screen and (max-width:1199px){
            column-count: auto;
        }

        @media screen and (max-width:500px){
            font-size: 12px;
        }
        
        p{
            margin: 0;
            margin-bottom: 15px;

            @media screen and (max-width:500px){
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    &__preview{
        width: 500px;
        overflow: hidden;
        border-radius: 16px;

        @media screen and (max-width:1570px){
            display: none;
        }
    }

    &__main{
        flex: 1;
        margin-left: 77px;

        @media screen and (max-width:1570px){
           margin-left: 0;
        }
    }

    &__pdf{
        flex-shrink: 0;
        font-size: 18px;
        color: #6A6363;
        font-weight: 700;
        margin-left: 34px;
        text-decoration: none;
        
        @media screen and (max-width:500px){
            margin-left: 11px;
            text-decoration: underline;
            font-weight: 600;
            font-size: 12px;   
        }
    }

    &__button{
        max-width: 320px;

        @media screen and (max-width:500px){
            font-size: 12px;
            max-width: 132px;
            padding-top: 6px;
            padding-bottom: 5px;
            margin-right: 0;       
        }
    }

    &__close{
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        right: 0;
        padding: 20px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB3SURBVHgBtdNhCsAgCAVg2Ql2hG6aN2/7sY0WmfoePQiE4INSRTamCJ+zL9p9quCpj/FFCfTFdLxAUBNDUBfLoGEsgqaxFQpjM5TGRtTFDomlGTWU/pkq5EbN/gxGVw1Io5FuhtHMaKiHInOmFsoMrY5oIbAfegFYEEMhxoOwWAAAAABJRU5ErkJggg==');
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center center;
        display: none;
        cursor: pointer;

        @media screen and (max-width:1199px){
            display: block;
        }
    }
}


@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.collapseElement{

    &__button{
        margin-top: 10px;
        margin-left: auto;
        display: block;
        margin-right: auto;
        background-color: transparent;
        color: #F58220;
        opacity: 0.8;
        position: relative;
        font-size: 16px;
        border: 0;
        padding: 0;
        outline: 0;

        &::after{
            content: '';
            position: absolute;
            left: calc(100% + 5px);
            top: 50%;
            transform: translateY(-50%);
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGbSURBVHgBvZTrUcJAFIXP7g8dXjPYwZaAHWAHUAHYgRQg2WABYAVCBdABdqAlbAdmhtfoOFnvDdm4ZMBkxPH8SXL33vPt3UeAf5B406p1KREIgUXl3szwR9po1RESvc8YM7EeqRcBtBIiMKgOzQRnaqVVW0os089ISovIDVpgvHtQPZwhXhnqYO6FIvlu0SX3VxeJLSZrSsQvRAB1QQBakWYaMjLGjeC3HQ3G+/aUo3/EuL7SxqCkUoDvkQAq5CH5K3mhAA+kCU0u4MKSgKYPoGWPbIxuJZ2kdIkeyO2RKgNKAOKgAzCgrk22BdIvYJDNgwTmbHQKQhMZ07HM9pC6uG1o8+znyHwRz4BAgyxABpfi4LRk2o7UmB59fBPC+tBM83nyWDGBpjSjDGQF2puRevJz6DugnDsfUAuMPuZ3FJKA6FLScQ69UH9Hxg5AD535WzyeArAECrQKlZYCgVewoA46HmBWD0z/Jw+JAjVohmyUmXoAvsQ16y3ZCRV24rQN1ZL3xguZKl1YoU1UVFvYiVPu97P/XZQAsL4AT96s6FPdgtAAAAAASUVORK5CYII=');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 10px;
            height: 6px;
        }

        @media screen and (max-width:500px){
            font-size: 12px;
        }



        span:nth-child(1){
            display: none;
        }
        span:nth-child(2){
            display: block;
        }
    } 
    
    &__content{
        display: flex;
        flex-direction: column;
    }

    &_hide{
        .collapseElement__wrap{
            overflow: hidden;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100px;
                background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
            }
        }

        .collapseElement__button span:nth-child(1){
            display: block;
        }

        .collapseElement__button span:nth-child(2){
            display: none;
        }
    }

    &:not(.collapseElement_hide){
        .collapseElement__button::after{
            transform: translateY(-50%) rotate(180deg);
        }
    }
}