.brands{

    display: flex;
    justify-content: space-between;
    border-radius: 19px;
    border: 2px solid rgba(0, 0, 0, 0.27);

    @media screen and (max-width:1199px){
        border: 0;
    }

    &__column{
        width: calc(50% - 10px);

        @media screen and (max-width:1199px){
            width: 100%;
        }
    }
}

.brands-main{

    padding-top: 66px;
    padding-left: 30px;
    padding-right: 73px;
    padding-bottom: 60px;

    @media screen and (max-width:1570px){
        padding-top: 46px;
        padding-left: 21px;
        padding-right: 0;
        padding-bottom: 42px;
    }

    @media screen and (max-width:1199px){
        padding: 0;
    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 53px 0;

        @media screen and (max-width:1570px){
            grid-gap: 48px 20px;
        }

        @media screen and (max-width:1199px){
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
        }
        
        @media screen and (max-width:767px){
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.4;
        transition: opacity .2s ease;

        @media screen and (max-width:1199px){
            justify-content: flex-start;
            opacity: 1;
        }

        &_bannye{
            .brands-main__text::after{
                background-color: #00652E;
            }
        }

        &_pechnyie{
            .brands-main__text::after{
                background-color: #C92434;
            }
        }

        &_blumen{
            .brands-main__text::after{
                background-color: #3DAE2B;
            }
        }

        &_help{
            .brands-main__text::after{
                background-color: #862C91;
            }
        }

        &_qwerty{
            .brands-main__text::after{
                background-color: #EC2227;
            }
        }

        &_aroma{
            .brands-main__text::after{
                background-color: #1FA44A;
            }
        }

        &_vegas{
            .brands-main__text::after{
                background-color: #ED1C24;
            }
        }

        &_hotpot{
            .brands-main__text::after{
                background-color: #8DC63F;
            }
        }

        &_marmiton{
            .brands-main__text::after{
                background-color: #592E2C;
            }
        }

        &_vortex{
            .brands-main__text::after{
                background-color: #892432;
            }
        }

        &_boyscout{
            .brands-main__text::after{
                background-color: #3E543C;
            }
        }

        &:hover{
            opacity: 1;

            .brands-main__text::after{
                opacity: 1;
                visibility: visible;
            }
        }

        &.is-active{
            opacity: 1;

            .brands-main__text::after{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__logo{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width:1199px){
            height: 90px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            padding: 16px;
            width: 100%;
            border-radius: 10px;
        }

        @media screen and (max-width:495px){
            height: 46px;
            padding: 6px;
        }

        img{
            max-width: 200px;

            @media screen and (max-width:1570px){
                max-width: 140px;
            }

            @media screen and (max-width:1199px){
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    &__text{
        margin-top: 32px;
        color: #000;
        font-size: 16px;
        position: relative;
        text-align: center;

        @media screen and (max-width:1199px){
            margin-top: 12px;
        }

        @media screen and (max-width:495px){
           font-size: 12px;
           margin-top: 3px;
        }

        &::after{
            content: '';
            position: absolute;
            bottom: calc(100% + 6px);
            height: 7px;
            left: -10px;
            right: -10px;
            opacity: 0;
            visibility: hidden;

            @media screen and (max-width:1199px){
               content: none;
            }
        }
    }
}

.brands-description{
    padding-top: 98px;
    padding-left: 64px;
    padding-right: 70px;
    padding-bottom: 96px;


    @media screen and (max-width:1570px){
        padding-top: 68px;
        padding-bottom: 68px;
        padding-right: 50px;
        padding-left: 44px;
    }

    @media screen and (max-width:1199px){
        display: none;
    }

    &__block{
        display: none;
        flex-direction: column;
        height: 100%;

        &.is-active{
            display: flex;
            animation-name: show;
            animation-duration: .5s;
            animation-timing-function: ease;
        }
    }

    // &__title{
    //     font-size: 44px;
    //     color: #75262F;
    //     font-weight: 700;
    //     margin-bottom: 43px;
    // }

    &__text{
        font-size: 21px;
        color: #000;
        font-weight: 600;
        margin-bottom: 67px;
    }

    &__list{
        column-count: 2;
        padding-left: 20px;
        margin-bottom: 108px;

        li{
            list-style: disc;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 5px;
            color: #000;
        }
    }

    &__link{
        display: flex;
        align-items: center;
    }

    &__btn{
        max-width: 321px;
        margin-right: 34px;
        background-color: #75262F;
        padding-top: 20px;
        padding-bottom: 20px;

        @media screen and (max-width:1570px){
            max-width: 260px;
        }
    }

    &__pdf{
        color: #6A6363;
        font-weight: 700;
        font-size: 18px;

        &:hover{
            text-decoration: none;
        }
    }
}

@keyframes show {
    0%{
        opacity: 0;
        visibility: hidden;
    }

    100%{
        opacity: 1;
        visibility: visible;
    }
}