.front-slider{

    &_main{
        position: relative;
        .swiper{
            height: 568px;

            @media screen and (max-width:1199px){
                height: 480px;
            }

            @media screen and (max-width:495px){
                height: 383px;
            }
        }

        .swiper-slide{
            overflow: hidden;
            height: auto;

            img{
                transform: translate(-50%,-50%);
                position: absolute;
                height: 100%;
                width: auto;
                left: 50%;
                top: 50%;

                @media screen and (max-width:495px){
                    left: 0;
                }
            }
            
        }

        .slideContols{
            display: flex;
            align-items: center;
            margin-top: 93px;

            @media screen and (max-width:495px){
                margin-top: 22px;
            }

            &__btn{
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
                background-size: 10px;
                background-position: center center;
                margin-right: 33px;
                cursor: pointer;
                border: 1px solid #F58220;
                border-radius: 50%;

                @media screen and (max-width:495px){
                    width: 20px;
                    height: 20px;
                    background-size: 5px;
                    margin-right: 20px;
                }

                &_prev{
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAjCAYAAAB7NEEmAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAH2SURBVHgBrZbxUcIwFMZfInonggcTkBEYQTbACYQJlAUg4ADiBOIEsoFsoCNkAzkBOTlt/FIshFLapuX7p20u/fUl7315ZXQkzQeipTWJH03DAh1Bi4Ho4SIZIzrjVMsNBfAJl9ZmQBMxyqgPKSqIygCbFvC9qKnBKYN8IKNXG4j9fDZAJtXUOVIABSI0QGEBH0s9dRc8O0UaBcSS+zbQCQpg/ZTTWxh40VMyPDfV8hdSNDWSgsmVLY/apa4aRc1PhC7vxY2naWTBptqj67JUk0PvxC7fFLUNhBR51IgDxkYauMQGcgDPpVKUIHYAuOsSB+AeNM4lpqgppfgOMMYl5CD2D0x0iYt4Wpe4qFBgfkJEMIDQh8UIl7iII6qJPYDibn3CQZRD3BSyh3LBfZCMygmnl6+ByLx8P/sGrNdgRduIH5ZrAzhrp06XSJoXShq+Ks+7qk8O2nNUFNhPXld1KCvUaGMERnVr4vjbo3Y1hREiTynz4gpOMo4KxrDHTfMhU9eUJVJbs74Ycka31pBaIanVmMMlsZ2U4SycqXaifAfGRZyqRwEso8Bz9K2o+U4tGpAWWx+Ngaa/SN6lVOPMUKOZFFccjiOrCQLSQckNg2fnP5Q07sv8LxXnvszQQ2CzFbmgRmH3MRyluaEBGIe9hElq6LqdP8z669mFDbajAAAAAElFTkSuQmCC');
                }

                &_next{
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAjCAYAAAB7NEEmAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHnSURBVHgBrZaNMTxBEMXfzP+PuvN1MpgQLgQyIAJEwCXALAFYESACREAGhDAZUD4LZcfrLcvgbs3MeVV3t9t1+6ue7nk9C1APu2bjcdes4o+k7nbMmgIO6hvg5KnC+oJ11xhDmp9ec+OB5UmFsytrDMaQkq/bwpRaYSOIu+cKS8zYIUOSKWa33WblUQRxM6nzM9bNBcF2GPjOmj4Spb4H2LhNBveC0PUrmzdn3QlyoaIba5b/6XpH9II/DrpbrkQuVCTLVhrHvDRNjLWynS1XIBcqemSjKtY1FdwKHQXmQyVLMciGfoAVS6HQDx4c6T4dA+3QBM8eSwJqYm3ui8o0VIz7ojINFeO+ZOg7uNV9ycsPNcx9vqprP55+gD1Os5bfSOpIYNg0qArn2VAC+xMaFwhMwSyLbuHKLKicZwSeqa+nxvo0G1hni0TJIek9ygAmzVmZte68iSVler9jtkMg5cBuh8CkTAXIHxsCNYGdIedYFJRAGdhrMUDRf7SIHe5NcTqxbosfQY/LrgyXlncD3QI0MoW8+gSynke/AUVqJPDbYCZwf4bDBBHSMUDZ1LHAH9BRLmk2dTL0N5ekqK5pjEuSoOGr5LucAGesu0SmZJ/2QmDbpo6GvlQ4nODRqxTmCRyMCxS9AQvv8l/Hx07iAAAAAElFTkSuQmCC')
                }
            }
        }
    }
}

.mainScreen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;

    &__logo{
        max-width: 201px;

        @media screen and (max-width:495px){
            max-width: 168px;
        }
    }

    &__inner{
        margin-left: 303px;
        margin-top: 31px;
        max-width: 631px;
        pointer-events: all;

        @media screen and (max-width:1570px){
            margin-left: 0;
        }

        @media screen and (max-width:495px){
            margin-top: 30px;
            max-width: 220px;
        }
    }

    &__title{
        font-size: 60px;
        margin: 0;
        font-weight: 600;
        color: #510017;
        margin-top: 27px;
        line-height: 1;

        @media screen and (max-width:1199px){
            font-size: 50px;
            margin-top: 15px;
        }

        @media screen and (max-width:495px){
            font-size: 24px;
            margin-top: 11px;
        }
    }

    &__text{
        font-size: 29px;
        color: #132F1D;
        font-weight: 400;
        margin-top: 0;

        @media screen and (max-width:1199px){
            font-size: 24px;
            margin-top: 20px;
        }

        @media screen and (max-width:495px){
            font-size: 14px;
            margin-top: 11px;
            font-weight: 400;
        }
    }

    &__button{
        max-width: 239px;
        margin-top: 46px;

        @media screen and (max-width:495px){
            max-width: 115px;
            font-size: 12px;
            margin-top: 16px;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}