.news{
    height: 940px;

    @media screen and (max-width:1570px){
        height: auto;
    }

    &__inner{
        display: flex;
        margin: 0 -10px;

        // @media screen and (max-width:1570px){
        //     flex-wrap: wrap;
        // }

        @media screen and (max-width:1699px){
            flex-wrap: nowrap;
            overflow: auto;
            padding-right: 10px;
            padding-left: 10px;
            margin: 0 -20px;

            &::-webkit-scrollbar{
                display: none;
            }
        }

        @media screen and (max-width:1199px){
            margin: 0 -10px;
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    &__wrap{
        height: 100%;
        max-height: 340px;
    }

    &__item{
        flex: 1;
        padding: 29px 25px 0;
        margin: 0 10px;
        border-radius: 19px;
        border: 2px solid rgba(0, 0, 0, 0.27);
        align-self: flex-start;
        position: relative;

        transition: flex .5s ease, border-color .5s ease;
        transition-delay: 0.1s;

        // @media screen and (max-width:1570px){
        //     flex: auto;
        //     width: calc(50% - 20px);
        //     margin-bottom: 20px;
        //     align-self:auto
        // }

        @media screen and (max-width:1699px){
            flex: auto;
            width: 416px;
            flex-shrink: 0;
        }

        @media screen and (max-width:500px){
            width: 233px;
            margin: 0 5px;
            padding-top: 19px;
            padding-left: 12px;
            padding-right: 12px;
            border: 1px solid rgba(0, 0, 0, 0.27);
        }

        @media screen and (min-width:1700px){
            &:hover{
                flex: 2;
                border-color: #F58220;
    
                &::after{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    height: 100px;
                    z-index: 10;
                }
    
                .news__preview{
                    opacity: 0;
                    visibility: hidden;
                    max-height: 0;
                    min-height: 0;
                    margin: 0;
                    max-width: 360px;
                    pointer-events: none;
                }
    
                .news__day{
                    color: #510017;
                }
    
                .news__description{
                    max-width: 350px;
                    opacity: 1;
                }
            } 
        }

        
    }

    &__img{
        width: auto;
        margin-left: -25px;
        margin-right: -25px;

        @media screen and (max-width:500px){
            margin-left: -12px;
            margin-right: -12px;
        }
    }

    &__preview{
        margin-top: 52px;
        margin-bottom: 42px;
        transform: translateY(0);
        opacity: 1;
        min-height: 73px;
        max-height: 1000px;
        transition: all .5s ease;

        @media screen and (max-width:500px){
            display: none;
        }
    }

    &__day{
        color: #F6F2F3;
        font-size: 96px;
        font-weight: 700;
        margin-bottom: 12px;
        line-height: calc(115/96);
        margin-bottom: 12px;

        transition: color .2s ease;

        @media screen and (max-width:500px){
            display: none;
        }
    }

    &__data{
        font-size: 21px;
        font-weight: 600;
        color: #000;
        margin-bottom: 52px;

        @media screen and (max-width:500px){
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    &__title{
        color: #000;
        font-size: 21px;
        font-weight: 700;
        margin-bottom: 88px;

        @media screen and (max-width:500px){
            margin-bottom: 30px;
            font-size: 14px;
        }
    }

    &__description{
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-width .5s ease, opacity .5s ease .5s;

        @media screen and (max-width:500px){
            display: none;
        }
    }

    &__head{
        display: flex;
    }

    &-button{
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;

        @media screen and (max-width:500px){
            margin-top: 30px;
            font-size: 12px;
            padding-top: 6px;
            padding-bottom: 5px;
            max-width: 212px;
        }
    }

    // &__bottom{
    //     margin-top: auto;
    // }
}